[submodule "vendor/cautomaton-develops"]
	path = vendor/cautomaton-develops
	url = git@github.com:farra/cautomaton-develops.git
[submodule "vendor/schmux"]
	path = vendor/schmux
	url = git@github.com:sergeknystautas/schmux.git
[submodule "vendor/gastown"]
	path = vendor/gastown
	url = https://github.com/steveyegge/gastown
[submodule "vendor/openclaw"]
	path = vendor/openclaw
	url = https://github.com/openclaw/openclaw
